# Ignorar a pasta de ambiente virtual
venv/

# Ignorar o arquivo de dependências
requirements.txt

SGHIST/_pycache_/Dataloader2.cpython-312.pyc

# Ignorar o arquivo QTMI.txt
QTMI.txt

# Ignorar a pasta Dataset e seus conteúdos
Dataset/
