# Ignorar a pasta de ambiente virtual
venv/

# Ignorar o arquivo de dependências
requirements.txt

# Ignorar o arquivo QTMI.txt
QTMI.txt

# Ignorar a pasta Dataset e seus conteúdos
Dataset/

# Ignorar a pasta de cache do Python
Utils/__pycache__/

# Ignorar as Runs do Tensorboard
Runs/